<ul class="breadcrumb">
  <li><%= link_to("Videos", videos_path) %></li>
  <li class="active"><%= @video.video_id %></li>
</ul>
<div class="jumbotron">
  <% video_genres(@video).each do |genre| %>
    <span class="label label-success"><%= genre %></span>
  <% end %>
  <h1><%= @video.video_id  %></h1>
  <p><%= @video.video_name %></p>
  <br>
  <img src="<%= @video.img %>">
  <br>
  <br>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>
<h2>Actors</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>NAME</th>
      <th>LABEL</th>
    </tr>
  </thead>
  <tbody>
    <% @video.actors.each do |actor| %>
      <tr class="active">
        <td>#</td>
        <td><%= actor.id %></td>
        <td><%= actor.name %></td>
        <td><%= actor.actor_label.upcase %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h2>Video Info</h2>
<div class="panel panel-primary">
  <div class="panel-heading">Release Date</div>
  <div class="panel-body">
    <%= @video.release_date %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Maker</div>
  <div class="panel-body">
    <%= @video.maker %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Length</div>
  <div class="panel-body">
    <%= @video.length %>
  </div>
</div>
