<!DOCTYPE html>
<html>
  <head>
    <title>AVDICT</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <%= render "common/navbar" %>
    </div>
    <div class="container">
      <%= render "common/flashes" %>
      <%= yield %>
    </div>

    <!-- 清除浮动 -->
    <div class="clearfix" style="margin-bottom: 50px;"></div>

    <div class="container">
      <%= render "common/footer" %>
    </div>
  </body>
</html>
